task: detection

evaluator:
  type: CocoEvaluator
  iou_types: ['bbox', ]

num_classes: 5
remap_mscoco_category: False

train_dataloader: 
  type: DataLoader
  dataset: 
    type: ViratTemporalDataset
    root_dir: ../dataset/VIRAT/train_videos/
    ann_file: ../dataset/VIRAT/train.json
    max_frame_gap: 10
    pair_sampling_strategy: "random_single"
    frame_stride: 5
    transforms:
      type: Compose
      ops:
        - {type: RandomPhotometricDistort, p: 0.5}
        - {type: RandomZoomOut, fill: 0}
        - {type: RandomIoUCrop, p: 0.8}
        - {type: SanitizeBoundingBoxes, min_size: 1}
        - {type: RandomHorizontalFlip}
        - {type: Resize, size: [640, 640], }
        - {type: SanitizeBoundingBoxes, min_size: 1}
        - {type: ConvertPILImage, dtype: 'float32', scale: True}   
        - {type: ConvertBoxes, fmt: 'cxcywh', normalize: True}
      # policy:
      #   name: stop_epoch
      #   epoch: 71
      #   ops: ['RandomPhotometricDistort', 'RandomZoomOut', 'RandomIoUCrop']
  shuffle: True
  num_workers: 4
  drop_last: True
  batch_size: 4
  collate_fn:
    type: TemporalBatchCollateFunction
    scales: [480, 512, 544, 576, 608, 640, 640, 640, 672, 704, 736, 768, 800]
    stop_epoch: 71


val_dataloader:
  type: DataLoader
  dataset: 
    type: ViratTemporalDataset
    root_dir: ../dataset/VIRAT/val_videos/
    ann_file: ../dataset/VIRAT/val.json
    max_frame_gap: 10
    pair_sampling_strategy: "fixed_gap"
    frame_stride: 1
    transforms:
      type: Compose
      ops: 
        - {type: Resize, size: [640, 640]}
        - {type: ConvertPILImage, dtype: 'float32', scale: True}   
  shuffle: False
  num_workers: 4
  drop_last: False
  batch_size: 4
  collate_fn:
    type: TemporalBatchCollateFunction